body {
    text-align: center;
    background: rgb(148, 215, 245);
    background: linear-gradient(45deg, rgba(148, 215, 245, 0.8) 0%, rgba(80, 86, 245, 0.7987788865546218) 100%);
    background-attachment: fixed;
}

.container {
    border-radius: 5px;
    background-color: white;
    margin-top: 5%;
    padding: 1%;
    border: 0.5px solid lightgray;
    max-width: fit-content;
    min-width: 700px;
    height: 50%;
    font-family: 'Merriweather', serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

.cityName {
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 38px;
    font-weight: 700;
}

.tempreture {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size: 80px;
    font-weight: 500;
}

.unit {
    color: #212121;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    line-height: 1;
    position: relative;
    top: -34px;
}
form{
    margin-top: 20px;
}
.header .searchBox {

    width: 36vw;
    padding:8px;
    border-radius: 6px;
    border-color: grey;
}
.header .searchBox::selection{
    border-color: black;
}
.header .btn {
    width: 7vw ;
}
.cityInfo ul {
    list-style: none;
}

.todayWeather {
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    padding: 2%;

}
.cityName {
    text-align:center;
    margin: 10px;
}

.cityInfo ul li #day,
#hour,
#minute {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    
}
.cityInfo{
    margin-top: 15px;
}
.cityInfo ul li {
    text-align: right;
    color: grey;
    line-height: 35px;
}

#img {
    position: relative;
    top: -20px;
}

.weather-forecast {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.weatherColumn {
    display: flexbox;
    text-align: center;
}

.weatherColumn img {
    width: 5rem;
}

.date {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.6;
    margin-bottom: 0;
}